body {
    display: flex;
    justify-content: center;
    background-color: #363636;

  }

  div {
    font-family: Jokerman, fantasy;
    color:#ffffff;
  }

  .title {
    text-align: center;
    font-size: 600%;
  }

  p {
    position: relative;
    left: 50px;
    font-size: 200%;
  }

  img {
    width: 100px;
    height: 100px;
  }
